<div
  [ngClass]="['main', isSearching ? 'main_expanded' : 'main_normal']"
  #mainPanel
>
  <div class="topbar">
    <div
      [ngClass]="['logo_container', isSearching ? 'logo_container_hide' : '']"
    >
      <div class="logo_img" *ngIf="!isSearching">
        <img src="assets/logo_placeholder.svg" alt="logo" width="45" />
      </div>
    </div>

    <div class="search">
      <input
        mat-input
        (click)="expand()"
        type="text"
        placeholder="Wyszukaj..."
      />
    </div>

    <div class="add">
      <button
        mat-raised-button
        *ngIf="isLogged"
        class="add_button"
        color="primary"
        routerLink="/upload"
      >
        Dodaj pracę ➜
      </button>
    </div>

    <div class="account">
      <div *ngIf="isLogged">
        <button
          class="account_button logged"
          mat-button
          [matMenuTriggerFor]="menu_logged"
        >
          <span>Witaj, {{ username }}</span>
          <img src="assets/user-solid.svg" alt="user" width="25" />
        </button>

        <mat-menu #menu_logged xPosition="before">
          <button mat-menu-item routerLink="/my-account">Mój profil</button>
          <button mat-menu-item>Ustawienia</button>
          <mat-divider></mat-divider>
          <button mat-menu-item (click)="logout()">Wyloguj</button>
        </mat-menu>
      </div>

      <div *ngIf="!isLogged">
        <button
          class="account_button not_logged"
          mat-button
          [matMenuTriggerFor]="menu_not_logged"
        >
          <img src="assets/user-solid.svg" alt="user" width="25" />
        </button>

        <mat-menu #menu_not_logged xPosition="before">
          <button mat-menu-item routerLink="/login">Zaloguj się</button>
          <button mat-menu-item routerLink="/register">Załóż konto</button>
        </mat-menu>
      </div>
    </div>
  </div>

  <div *ngIf="isSearching" class="search_hints_container"></div>
</div>
