.main {
  width: 100%;
  min-height: 100vh;
}

.nav-container {
  position: fixed;
  top: 0;
}

.nav,
.content {
  height: 100vh;
  padding-top: 70px;
}

.nav {
  min-width: 200px;
  width: 17%;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.nav_content {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  row-gap: 1vh;
}

.padding {
  padding-top: 90px;
}

mat-divider {
  margin-top: 3vh;
  margin-bottom: 3vh;
}

.profile {
  min-height: 100px;
  aspect-ratio: 1;
  width: 100%;
  background-color: #ddd;
}
.nav_content {
  background-color: var(--backgroud-color);
}

.nav_button {
  width: 100%;
}
