<app-top-bar></app-top-bar>
<div class="main">
  <mat-sidenav-container class="nav_container">
    <mat-sidenav class="nav" mode="side" opened>
      <div class="padding"></div>
      <div class="profile"></div>
      <div class="nav_content">
        <button
          mat-button
          [ngClass]="
            currentView === view.Main
              ? 'mat-raised-button'
              : 'mat-stroked-button'
          "
          color="primary"
          class="nav_button"
          (click)="setView(view.Main)"
        >
          Strona główna
        </button>
        <mat-divider></mat-divider>
        <button
          mat-button
          [ngClass]="
            currentView === view.MyArtworks
              ? 'mat-raised-button'
              : 'mat-stroked-button'
          "
          color="primary"
          class="nav_button"
          (click)="setView(view.MyArtworks)"
        >
          Moje dzieła
        </button>
        <button
          mat-button
          [ngClass]="
            currentView === view.Statistics
              ? 'mat-raised-button'
              : 'mat-stroked-button'
          "
          color="primary"
          class="nav_button"
          (click)="setView(view.Statistics)"
        >
          Statystyki
        </button>
        <button
          mat-button
          [ngClass]="
            currentView === view.Settings
              ? 'mat-raised-button'
              : 'mat-stroked-button'
          "
          color="primary"
          class="nav_button"
          (click)="setView(view.Settings)"
        >
          Ustawienia konta
        </button>
        <mat-divider></mat-divider>
        <button mat-stroked-button color="error" class="nav_button">
          Wyloguj
        </button>
      </div>
    </mat-sidenav>
    <mat-sidenav-content class="content">
      <div [ngSwitch]="currentView">
        <div *ngSwitchCase="view.Main"></div>
        <div *ngSwitchCase="view.MyArtworks">
          <app-my-artworks></app-my-artworks>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

<!-- [routerLink]="[{outlets: {main:['/my-account']}}]" -->
