<div class="main">
  <mat-card class="content">
    <form class="form" [formGroup]="form">
      <h1>Zarejestruj się</h1>

      <mat-form-field>
        <mat-label>E-mail</mat-label>
        <input matInput name="email" id="email" formControlName="email" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Nazwa użytkownika</mat-label>
        <input
          matInput
          name="username"
          id="username"
          formControlName="username"
        />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Hasło</mat-label>
        <input
          matInput
          [type]="hidePassword ? 'password' : 'text'"
          name="password"
          id="password"
          formControlName="password"
        />
        <button
          (click)="hidePassword = !hidePassword"
          mat-icon-button
          matSuffix
        >
          <mat-icon>{{
            hidePassword ? "visibility_off" : "visibility"
          }}</mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Powtórz hasło</mat-label>
        <input
          matInput
          type="password"
          name="password"
          id="confirmPassword"
          formControlName="confirmPassword"
        />
      </mat-form-field>

      <button mat-raised-button color="primary" (click)="register()">
        Załóż konto
      </button>

      <p *ngIf="!(registerResult?.status === 200)" class="error_message">
        {{ registerMessage }}
      </p>
    </form>
  </mat-card>
</div>
