.main {
  width: 100%;
  min-height: 100vh;
  padding: 20px;
  padding-top: 70px;
}

.player_wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.player {
  height: 60vh;
  min-height: 400px;
  width: 600px;
  min-width: 60%;
  flex: 1;
  background-color: white;
}

.artwork_info {
  flex: 1;
  min-width: 300px;
  min-height: min-content;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 2.4em;
}

.title_and_description {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.description {
  flex: 1;
}

.rating {
  height: 50px;
  font-size: 26px;
  padding-left: 20px;
  font-weight: 300;
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 10px;
}

.upVote_percentage {
  font-size: 0.7em;
  color: #aaa;
}

mat-icon {
  font-size: 27px;
  cursor: pointer;
}

.more_artworks {
  width: 100%;
  height: min-content;
}

.other_artworks_label {
  font-size: 2em;
  margin-top: 20px;
}
