<a [routerLink]="'/artwork/' + artworkData?.id">
  <mat-card class="artwork">
    <div class="photo">podgląd</div>
    <h2 class="title">{{ artworkData?.title }}</h2>
    <div class="votes">
      <span>
        <mat-icon class="up_votes">thumb_up</mat-icon
        >{{ artworkData?.upvotes }}</span
      >
      <span>
        <mat-icon class="down_votes">thumb_down</mat-icon>
        {{ artworkData?.downvotes }}
      </span>
    </div>
    <p class="views">{{ artworkData?.views }} wyświetleń</p>
  </mat-card>
</a>
