.main {
  width: 100%;
  min-height: 100vh;
  background-color: var(--background-color);
  padding-top: 70px;
}

.content {
  padding: 40px;
}

label {
  margin-right: 4px;
  font-size: var(--font-size);
}

form {
  display: flex;
  flex-direction: column;
  width: 50%;
}

mat-horizontal-stepper {
  background-color: var(--background-color);
  min-width: 500px;
}
