<div class="main">
  <h1>Co chcesz dodać?</h1>

  <div class="card_container">
    <mat-card class="card song">
      <button class="button" mat-raised-button color="primary">
        Dodaj utwór muzyczny
      </button>
    </mat-card>
    <mat-card class="card literature">
      <button class="button" mat-raised-button color="primary">
        Dodaj utwór literacki
      </button>
    </mat-card>
    <mat-card class="card photography">
      <button class="button" mat-raised-button color="primary">
        Dodaj fotografię
      </button>
    </mat-card>
    <mat-card class="card other">
      <button class="button" mat-raised-button color="primary">
        Dodaj inne dzieło
      </button>
    </mat-card>
  </div>
</div>
