.main {
  padding-top: 70px;
  // background-color: red;
  height: 100vh;
}

.content {
  padding: 40px;
}

mat-horizontal-stepper {
  height: 400px;
  position: relative;
}

form {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.text_input {
  background-color: rgba($color: #777, $alpha: 0.2);
}
